.page {
  margin-top: 20px;
  margin-left: 10px;
}

.welcome-head {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cont {
  padding: 40px;
}