body {
  font-family: -apple-system,Georgia,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  background-color: #f1f1f1;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  background-color: white;
}

h1 {
  margin: 0px;
}
